<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<div style="display: flex; "> 
    <div style="height: 500px; width:600px; background-color: rgb(163, 191, 243); margin: 10%;">      MAP!!!!</div>
    <div style="margin-top: 8%; font-size: large;">
        <p style="color: rgb(158, 189, 247); font-size: 3em;">Our Location</p>
        <h3>locations
            We are based in Delhi in India.</h3>

            <p>DELHI</p>
            <p>3rd floor, Duru House, Juhu Tara Rd, next to Jw Marriott,
                <br> Nazir Wadi,
               Theosophical Housing Colony,
                 <br>
                  delhi 400049</p>
            <p style="margin-top: 10%; font-size: 1.50em">Phone: 807665323</p>
           <p style="margin-top: 5%; font-size:1.50em">Email: contact@weddingtrees.com</p> 
    </div>
</div>
<!-- cards -->
<div style="display:flex;">

<div style="height: 230px; width: 400px; border: 1px; background: #70b6f0; padding: 3%; font-size: 1.20em; margin-left: 10%; ">
    <h2>How big is your team?</h2>
    <br>
   <p> Our core team consists of 22 members. We have Neha and Pranjal as our founders and the leads. For every 
    shoot, our team is pre decided and gets fixed as soon as we block the dates for you (upon receiving the advance payment).</p>

</div>
<br>
<div style="height: 200px; width: 380px; border: 1px; background: #70b6f0; padding: 4%; font-size: 1.20em; margin-left: 10%; margin-bottom:-5px ;">
    <h2 >HOW LONG HAVE YOU BEEN CAPTURING WEDDINGS?</h2>
    
    <p>We shot our first wedding in the October of 2012 in Pune, India and since then a journey has started. A journey which has taken us across India and rest of the world. </p>
</div>
</div>
<br>
<br>
<div style="display: flex;">
<div style="height: 450px; width: 400px; border: 1px; background: #70b6f0; padding: 3%; font-size: 1.20em; margin-left: 10%; ">
    <h2>WHICH CAMERAS/EQUIPMENT DO YOU USE?</h2>
    <p>We use Sony A7S III, Sony A7 III/IV, Canon R5/R6 (mark I and II), 1DX II etc. throughout for candid photography as well as cinematography.</p>
    <p>Apart from that we use zhiyun crane 2 gimbals, ronin mx gimbals, glide cams, cine sliders, fig rigs, go pros, dji mavic pro 2 drones, wireless radio triggers, filters, studio lights, AD 200 pro and of course the best in class lenses such as 14 mm f/2.8, 16-35 mm f/2.8, 24-70 mm f/2.8, 70-200 mm f/2.8 IS, 100 mm f/2.8 macro, 24 mm f/1.4, 50 mm f/1.4, 35 mm f/1.4, 24-105 f/4L IS among others.

        But an old saying remains true, its the photographer, not the camera.</p>
</div>

<div style="height: 450px; width: 400px; border: 1px; background: #70b6f0; padding: 3%; font-size: 1.20em; margin-left: 10%; ">
    <h2>HOW MUCH DO YOU CHARGE?</h2>
    <p>Our rates are totally flexible and depend on your photography requirements.
        <br>
        We charge by day basis. However,  just to give you some idea, the rates starting at Rs 85 000 vary according to the number of photographers you need, the kind of work you desire, duration of your event and the number of teams required. The cinematography service charges start at Rs 100 000. GST is 18% over and above our shoot charges.
        <br>
        At any point, it would be best to give us a call and share your questions as the charges cannot be shared upfront here without us knowing your requirements, the duration of the events, number of guests, lights and of course travel if any. We would be glad to help you.</p>
</div>
</div>



</div>
 
    
</body>
</html>