{% extends 'index.html' %}

{% block content %}

<link rel="stylesheet" href="/static/css/home.css"> 

    


    <!-- % client-review %  -->


    <div>


        <div style="position: fixed; bottom: 4%; z-index: 1000; color: white; background-color: #33CC66; padding: 0.5em 1.2em; left: 1.5%; border-radius: 3em;">
            <a href="">Whatdapp Us</a>
        </div>



        <div class="home-header">
            <h1 style="font-size: 2em; color: white; font-weight: bold; margin-left: 2em; padding-top: 11em; width: 15em; text-transform: uppercase;"> <span style="font-size: 0.7em; margin-right: 2em;">Consistently ranked amongst</span>
                the best wedding photographers in India since 2012.</h1>

            <p style="color: white; margin-left: 4em; margin-top: 1.5em; width: 30em; font-weight: bold;">
                Captured over 1000 weddings worldwide. Based in Gurgaon and Mumbai in India, spreading happiness world over.
            </p>
        </div>

        <div class="home_body">
            <div class="home_heading">PORTFOLIO</div>
        </div>
   
        <div>

            <div style="display: flex;">
                <div>
                    <img src="/static/image/home_image.png" alt="" style="height: 30em; transform: rotate(-8deg); margin: -2em 3em 5em 10em;" >
                </div>
                <div>
                    <h2 class=" text-6xl" style="color: #ec9a96;">Wedding films</h2>

                    <p style="width: 18em; margin-left: 3em; color: rgb(120, 120, 120);" class="text-xl">
                        Welcome to the world of Wedding Cinema. Welcome to the world of exquisiteness, extravagance, excitement, admiration, emotions, passion and life!
                    </p>

                    <p style="width: 18em; margin-left: 4em; color: rgb(120, 120, 120); margin-top: 2em;">
                        We believe that a wedding is a journey of not only the person getting married but also of all those people who are attached to him or her in some way or the other and of all those who helped him/her in becoming who he or she is.
                    </p>
                </div>
            </div>
        </div>


        <div>
            
            <div class="slider_bgimage">
                <div class="client_review_box" style="padding-top: 7em; padding-left: 25em; margin-top: 5em;">
                    <!-- <h2 class="heading-1">Client Review</h2> -->

                    <div style="display: flex;">

                        <button class="prev" onclick="changeSlide(-1)" style="margin-top: 10em;">&#10094</button>

                        <div class="review-boxes" style="position: relative; margin-left: 4em; margin-top: 2.5em;">
                            
                            <div style="color: black; background-color: white; width: 35em; height: 20em; border-radius: 0.8em; rotate: 4deg; position: absolute; top: 0;"></div>
                            <div style="color: black; background-color: white; width: 35em; height: 20em; border-radius: 0.8em; rotate: -8deg; position: absolute; top: 0;"></div>
                            
                            <div class="box-3" style="color: black; background-color: white; width: 35em; height: 20em; border-radius: 0.8em; rotate: 0deg; position: absolute; top: 0; overflow: hidden; scroll-behavior: smooth;">

                                <div class="slider" style=" display: flex; ">

                                    <div class="review-slide active" style="margin-bottom: 2em;">
                                        <img src="/static/image/image1.jpeg" alt="" style="height: 20em; padding: 1em; border-radius: 2em; width: 35em;">
                                    </div>


                                    <div class="review-slide active" style="margin-bottom: 2em;">
                                        <img src="/static/image/home_image.png" alt="" style="height: 20em; padding: 1em; border-radius: 2em; width: 35em;">
                                    </div>


                                    <div class="review-slide active" style="margin-bottom: 2em;">
                                        <img src="/static/image/image1.jpeg" alt="" style="height: 20em; padding: 1em; border-radius: 2em; width: 35em;">
                                    </div>


                                </div>

                            </div>
                            
                        </div>

                        <button class="next" onclick="changeSlide(1)" style="margin-left:40em; margin-top: 10em;">&#10095</button>
                    </div>

                </div>
            </div>

        </div>





        <div class="">

            <div class="img">
                <div class="client_review_box">
                    <h2 class="heading-1">Client Review</h2>

                    <div style="display: flex;">

                        <button class="prev" onclick="changeSlide(-1)">&#10094</button>

                        <div class="review-boxes" style="position: relative; margin-left: 5.5em; margin-top: 2.5em;">
                            
                            <div style="color: black; background-color: white; width: 25em; height: 15em; border-radius: 0.8em; rotate: 4deg; position: absolute; top: 0;"></div>
                            <div style="color: black; background-color: white; width: 25em; height: 15em; border-radius: 0.8em; rotate: -8deg; position: absolute; top: 0;"></div>
                            
                            <div class="box-3" style="color: black; background-color: white; width: 25em; height: 15em; border-radius: 0.8em; rotate: 0deg; position: absolute; top: 0; overflow: hidden; scroll-behavior: smooth;">

                                <div class="slider" style=" display: flex; ">

                                    <div class="review-slide active" style="margin-bottom: 2em;">
                                        <img src="/static/image/image1.jpeg" alt="" style="border-radius: 50%; height: 5em; width: 5em; margin-left: 10em; margin-top: 1em;">
                                        <h3 style=" padding-top: 13px; font-size: 1.5rem; font-weight: 600; letter-spacing: 0; line-height: 1.1666666667; width: 16.5em;" class="slider_head">Mahek Ajmera</h3>
                                        <h3 style="padding: 10px 40px; font-size: 15px; font-weight: 100; letter-spacing: 0; line-height: 1.4;" id="home_text">Start with the when and where, then set up RSVPs and add registry gifts for guests to shop. Lorem ipsum dolor sit amet.</h3>
                                    </div>


                                    <div class="review-slide active" style="margin-bottom: 2em;">
                                        <img src="/static/image/image1.jpeg" alt="" style="border-radius: 50%; height: 5em; width: 5em; margin-left: 10em; margin-top: 1em;">
                                        <h3 style=" padding-top: 13px; font-size: 1.5rem; font-weight: 600; letter-spacing: 0; line-height: 1.1666666667; width: 16.5em;" class="slider_head">Aditi Sharma</h3>
                                        <h3 style="padding: 10px 40px; font-size: 15px; font-weight: 100; letter-spacing: 0; line-height: 1.4;" id="home_text">Start with the when and where, then set up RSVPs and add registry gifts for guests to shop. Lorem ipsum dolor sit amet.</h3>
                                    </div>


                                    <div class="review-slide active" style="margin-bottom: 2em;">
                                        <img src="/static/image/image1.jpeg" alt="" style="border-radius: 50%; height: 5em; width: 5em; margin-left: 10em; margin-top: 1em;">
                                        <h3 style=" padding-top: 13px; font-size: 1.5rem; font-weight: 600; letter-spacing: 0; line-height: 1.1666666667; width: 16.5em;" class="slider_head">Alya Tapia</h3>
                                        <h3 style="padding: 10px 40px; font-size: 15px; font-weight: 100; letter-spacing: 0; line-height: 1.4;" id="home_text">Start with the when and where, then set up RSVPs and add registry gifts for guests to shop. Lorem ipsum dolor sit amet.</h3>
                                    </div>


                                </div>

                            </div>
                            
                        </div>

                        <button class="next" onclick="changeSlide(1)">&#10095</button>
                    </div>

                </div>
            </div>

        </div>

    </div>


<script src="/static/js/home.js"></script>

{% endblock %}