





<nav class=" bg-transparent text-white">
    <div>
        <img src="" alt="">
    </div>

    <div>
        <ul class=" flex text-xl py-10" style="padding-left: 33em; ">
            <li class="hover:underline hover:decoration-white" style="margin-right: 20px; ">
                <a href="/home">Home</a>
            </li>
            <li class="hover:underline hover:decoration-white" style=" margin-right: 30px;">
                <a href="/wedding_cinema">Wedding Cinema</a>
            </li>
            <li class="hover:underline hover:decoration-white" style="margin-right: 30px; ">
                <a href="/portfolio">Portfolio</a>
            </li>
            <li class="hover:underline hover:decoration-white" style="margin-right: 30px; ">
                <a href="/about">About Us</a>
            </li>
            <li class="hover:underline hover:decoration-white" style="margin-right: 30px; ">
                <a href="/contact">Contact Us</a>
            </li>
        </ul>
    </div>
    
</nav>