





<nav class=" bg-black text-white">
    <div>
        <img src="" alt="">
    </div>

    <div>
        <ul class=" flex text-xl py-10" style="padding-left: 33em;">
            <li class="hover:underline hover:decoration-white">
                <a href="/home">Home</a>
            </li>
            <li class="hover:underline hover:decoration-white" style="padding-left: 2em;">
                <a href="">Wedding Cinema</a>
            </li>
            <li class="hover:underline hover:decoration-white" style="padding-left: 2em;">
                <a href="">Portfolio</a>
            </li>
            <li class="hover:underline hover:decoration-white" style="padding-left: 2em;">
                <a href="">About Us</a>
            </li>
            <li class="hover:underline hover:decoration-white" style="padding-left: 2em;">
                <a href="">Contact Us</a>
            </li>
        </ul>
    </div>
    
</nav>